.visualization-svg-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visualization-svg-container.flat-stage {
  padding-bottom: 80px;
}

.visualization-svg-container svg, .visualization-svg-container svg image {
  width: 100%;
  height: auto;
}

.visualization-svg-container .flat-description {
  width: 20%;
}

.visualization-svg-container .flat-description .field {
  margin: 0;
}

.visualization-svg-container .flat-description .field .field__label {
  font-weight: bold;
}

.visualization-svg-container .flat-description .field .field__label::after {
  content: ':';
}

.visualization-svg-container .description {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 20px;
  font-weight: 600;
  background: #ffffff80;
  padding: .3em .8em;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
}

.visualization-svg-container svg[data-entity-name="flat"] {
  width: 40%;
  height: fit-content;
}

.visualization-svg-container path:not(.sold) {
  cursor: pointer;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.visualization-svg-container .floor:not(.sold):hover {
  -o-animation: pulse 2s infinite ease-in-out;
  -ms-animation: pulse 2s infinite ease-in-out; 
  -moz-animation: pulse 2s infinite ease-in-out; 
  animation: pulse 2s infinite ease-in-out;
}

.visualization-svg-container .visualization-webform {
  width: 30%;
}

.visualization-svg-container .visualization-webform input {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 40px;
}

.visualization-svg-container .visualization-webform textarea {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 100px;
}

.visualization-svg-container .visualization-webform .webform-button--submit {
  cursor: pointer;
  background: #fff;
  padding: .5em 1.6em;
  border: 2px solid black;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  color: black;
  transition: .3s;
}

.visualization-svg-container .visualization-webform .webform-button--submit:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.visualization-svg-container .floor_legend {
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: .5em 1.6em;
  border: 2px solid black;
  border-radius: 8px;
  background: #ffffff80;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.visualization-svg-container .floor_legend span:not(:first-child) {
  margin-left: 30px;
}

.visualization-svg-container .floor_legend span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 15px -2px 0;
}

.visualization-svg-container .floor_legend .available::before {
  background-color: green;
}

.visualization-svg-container .floor_legend .reserved::before {
  background-color: orange;
}

.visualization-svg-container .floor_legend .sold::before {
  background-color: red;
}

.visualization-svg-container .flat-information {
  background: white;
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  padding: .4em .8em;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
}

.visualization-svg-container .flat-information .field {
  margin: 0;
}

.visualization-svg-container .flat-information .field .field__label {
  font-weight: bold;
}

.visualization-svg-container .flat-information .field .field__label::after {
  content: ':';
}

.visualization-svg-container .developer-visualization-btn {
  position: absolute;
  left: 2%;
  bottom: 2%;
}

.visualization-svg-container .developer-visualization-btn.bottom-right {
  left: unset;
  right: 2%;
}

.developer-visualization-btn {
  cursor: pointer;
  background: #fff;
  padding: .5em 1.6em;
  border: 2px solid black;
  font-weight: 600;
  font-size: 22px;
  border-radius: 8px;
  color: black;
  transition: .3s;
}

.developer-visualization-btn:hover {
  background: black;
  border: 2px solid white;
  color: white ;
}

.developer-visualization-btn.use-ajax + .ajax-progress {
  display: none;
}

@media (max-width:1000px) {
  .visualization-svg-container .description {
    font-size: 16px;
    padding: .2em .6em;
  }

  .developer-visualization-btn {
    font-size: 18px;
    padding: .3em 1.2em;
  }

  .visualization-svg-container .floor_legend {
    font-size: 18px;
    padding: .3em .8em;
  }
  
  .visualization-svg-container .floor_legend span:not(:first-child) {
    margin-left: 15px;
  }
  
  .visualization-svg-container .floor_legend span::before {
    width: 17px;
    height: 17px;
    margin: 0 10px -2px 0;
  }

  .visualization-svg-container .flat-information {
    font-size: 12px;
  }

  .visualization-svg-container .visualization-webform .webform-button--submit {
    font-size: 16px;
    padding: .3em 1.2em;
  }

  .visualization-svg-container .flat-description {
    width: 40%;
  }

  .visualization-svg-container svg[data-entity-name="flat"] {
    width: 55%;
  }

  .visualization-svg-container .visualization-webform {
    width: 100%;
  }
}

@media (max-width:800px) {
  .visualization-svg-container .floor_legend {
    display: none;
  }

  .visualization-svg-container .flat-description {
    width: 100%;
  }

  .visualization-svg-container svg[data-entity-name="flat"] {
    width: 100%;
  }

  .visualization-svg-container .visualization-webform {
    width: 100%;
  }
}

@media (max-width:500px) {
  .visualization-svg-container .description {
    font-size: 12px;
    margin-left: 7px;
  }

  .developer-visualization-btn {
    font-size: 14px;
  }

  .visualization-svg-container .flat-information {
    font-size: 10px;
  }

  .visualization-svg-container .visualization-webform .webform-button--submit {
    font-size: 12px;
  }

  .visualization-svg-container .visualization-webform input {
    height: 30px;
    font-size: 12px;
    padding: .375rem .75rem;
    border-radius: 3px;
  }
  
  .visualization-svg-container .visualization-webform textarea {
    height: 50px;
    font-size: 12px;
    padding: .375rem .75rem;
    border-radius: 3px;
  }
}

@media (max-width:360px) {
  .visualization-svg-container {
    display: none;
  }
}